.main h1 {
    font-size: 70px;
    text-align: center;
    font-family: "Shizuru", system-ui;
}

.main h3 {
    font-size: 30px;
    text-align: center;
}

.title{
    font-size: 20px;
    margin : 200 100 100 100;
    padding : 50px;
    text-align: center;
}

.main {
    background-image : url(../images/common/背景.png);
}

.writer1 {
    font-size: 20px;
    margin : 100 auto;
    padding : 50px;
    text-align: center;
}

.writer2 {
    font-size: 20px;
    margin : 100 auto;
    padding : 50px;
    text-align: center;
}