.main h1 {
    font-size: 70px;
    text-align: center;
}

.main div {
    font-size: 20px;
    margin : 100 auto;
    padding : 50px;
    text-align: center;
}

.main {
    background-image : url(../images/common/背景.png);
}