.ramen {
    font-family:'HuiFont',sans-serif;
    font-size: 16pt;
    background-color: #f8f8f8;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.ramen h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
    text-align: center;
}

.ramen h2::after {
    content: ‘’;
    display: block;
    width: 36px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.ramen-list{
    display: flex;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    overflow: scroll;

}

.ramen-list li {
    flex-shrink: 0;
    width: 300px;
    margin-left: 75px;
}

.ramen-list li:first-child {
    margin-left: 0;
}

.ramen img{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.map {
    width: 300px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.map iframe {
    display:block;
    width: 100%;
    height: 300px;
    margin-top: 25px;
}

.map h2{
    font-size: 30px;
    text-align: center;
}

@media (max-width: 800px) {
    .site-menu ul {
        display: block;
        text-align: center;
    }

    .site-menu li {
        margin-top: 20px;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #ffffff;
        height: 100px;
        z-index: 10;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }

    .header-inner {
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        position: relative;
    }

    .header-logo {
        width: 100px;
    }

    .header-site-menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        color: #ffffff;
        background-color: #3c3c3c;
        padding-top: 30px;
        padding-bottom: 50px;
        display: none;
    }

.header-site-menu.is-show{
    display: block;
}

    .toggle-menu-button{
        display: block;
        width: 44px;
        height: 34px;
        background-image: url(../images/common/icon-menu.png);
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        border-radius: 0;
        outline: none;
    }
}